@{
    ViewData["Title"] = "About";
}

<section class="content-header">
    <h2>@ViewData["Title"].</h2>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <h3>@ViewData["Message"]</h3>
    <p>Use this area to provide additional information.</p>
</section>