@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="content-header">

    <h1>@ViewData["Title"]
        <small>Optional description</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <p>Use this page to detail your site's privacy policy.</p>
</section>